afdko==3.9.4
afdko-python-modules @ git+https://github.com/adobe-type-tools/python-modules@f58f42efeea4cda566ff576d3c10480b8bedfc54
aiohttp==3.8.5
aiosignal==1.3.1
anyio==4.0.0
appdirs==1.4.4
AppKit==0.2.8
async-timeout==4.0.3
attrs==23.1.0
axisregistry==0.4.11
babelfont==3.0.1
beautifulsoup4==4.12.2
beziers==0.6.0
blinker==1.6.2
booleanOperations==0.9.0
Brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
cffsubr==0.2.9.post1
cfgv==3.4.0
charset-normalizer==3.1.0
click==8.1.3
cmarkgfm==2022.10.27
collidoscope==0.6.5
commandlines==0.4.1
compreffor==0.5.3
cu2qu==1.6.7.post2
dacite==1.8.1
defcon==0.10.2
dehinter==4.0.0
distlib==0.3.7
docopt==0.6.2
east-asian-spacing==1.4.2
exceptiongroup==1.1.3
filelock==3.12.4
Flask==2.3.2
font-v==2.1.0
fontbakery==0.12.10
fontFeatures==1.7.4
fontmake==3.5.1
fontMath==0.9.3
fontools==0.6.1
fontParts==0.11.0
fontPens==0.2.4
-e git+https://github.com/googlefonts/fontra.git@77bc0e7700e7d18d790bfeb1664aca3accd95078#egg=fontra
fonttools==4.53.1
freetype-py==2.3.0
frozenlist==1.4.0
fs==2.4.16
gflanguages==0.6.2
gfsubsets==2024.5.9
gitdb==4.0.10
GitPython==3.1.31
glyphsets==1.0.0
glyphsLib==6.8.2
glyphtools==0.8.0
identify==2.5.30
idna==3.4
importlib_resources==6.4.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kurbopy==0.9.0
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.2
mdurl==0.1.2
multidict==6.0.4
munkres==1.1.4
MutatorMath==3.0.1
nodeenv==1.8.0
num2words==0.5.13
numpy==1.24.3
openstep-plist==0.3.0.post1
opentype-sanitizer==9.1.0
opentypespec==1.9.1
orjson==3.9.1
packaging==23.1
pip-api==0.0.30
platformdirs==3.11.0
pluggy==1.3.0
pre-commit==3.4.0
protobuf==3.20.3
psautohint==2.4.0
pycairo==1.23.0
pyclipper==1.3.0.post4
pycparser==2.21
pyfaidx==0.7.2.1
pyfnutils==1.4
Pygments==2.15.1
PyGObject==3.44.1
pytest==7.4.2
pytest-asyncio==0.21.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.31.0
rich==13.4.2
rstr==3.2.1
shaperglot==0.5.0
six==1.16.0
skia-pathops==0.8.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
sre-yield==1.2
strictyaml==1.7.3
stringbrewer==0.0.1
termcolor==2.4.0
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.12.2
ufo2ft==2.30.0
ufoLib2==0.14.0
ufolint==1.2.0
ufonormalizer==0.6.1
ufoProcessor==1.9.0
uharfbuzz==0.37.0
unicodedata2==15.1.0
urllib3==2.0.3
vharfbuzz==0.2.0
virtualenv==20.24.5
watchfiles==0.20.0
Werkzeug==2.3.4
yarl==1.9.2
youseedee==0.5.3
zopfli==0.2.2
zstandard==0.21.0
